<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_moop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project MOOP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_MOOP">

        <activity android:name=".MulaiQuizActivity" />
        <activity android:name=".PopUp" />
        <activity android:name=".pilih_perhitungan_baris_deret" />
        <activity android:name=".pilih_perhitungan_bangun_datar" />
        <activity android:name=".pilih_perhitungan_bangun_ruang" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>